<h2>Your Groups</h2>
<ul>
	<% groupData.forEach(function(group) { %>
		<li><%= group.group_name %></li>
	
	<% }) %>
</ul>

<hr />
<ul>
	<li><a href="/status">Give Status</a></li>
	<li><a href="/status/user/<%= current_user.id %>">View Status</a></li>
</ul>

