{% extends "base.html" %}

{% load url from future %}
{% block content %}
<strong>Groups you are member of</strong>:
<!-- loop throug the groups 

	Based on the roll you would only see your peers and members

	Security:
		"I did foo" - Jeff
	NXT:
		"I did foo too" - Jeff
//-->
<div id="group_buttons">
{% for m in membership %}
	<input class="button" type="button" name="{{m.group.group_name}}" id="{{m.group.group_name}}" value="{{m.group.group_name}}" />
{% endfor %}
</div>
<div id="time_select">
	<select name="time_frame" id="time_frame">
		<option value="1">one day</option>
		<option value="7">one week</option>
		<option value="14">two weeks</option>
		<option value="30">one month</option>
	</select>
</div>
<div id="display_status">
</div>
{% endblock %}
