{% extends "base2.html" %}

{% load url from future %}
{% block content %}
{% block js %}
	<script language="javascript">
		var user_name = "{{user.user_name}}";
	</script>
{% endblock %}

<div id="approve_requests">
</div>

{% if ownership|length > 0 %}
<h2>Groups You Own</h2>
<ul>
{% for o in ownership %}
	<li>{{ o.start_vertex }}</li>
{% endfor %}
</ul>
{% endif %}
{% if groups|length > 0 %}
<h2>Your Groups Recent Status</h2>
{% endif %}
<!-- loop throug the groups 

	Based on the roll you would only see your peers and members

	Security:
		"I did foo" - Jeff
	NXT:
		"I did foo too" - Jeff
//-->
<div id="group_buttons">
{% for g in groups %}
	<a href="#" class="groups button" name="{{g.end_vertex}}" id="{{g.end_vertex}}">{{g.end_vertex}}</a>
{% endfor %}
</div>
<div id="time_select">
	<div id="time_display">last 1 day</div>
	<div id="slider_wrapper">
		<div id="slider"></div>
	</div>
</div>
<div id="display_status">
</div>
{% endblock %}
