{% extends "base2.html" %}

{% load static %}
{% load url from future %}
{% get_static_prefix as STATIC_PREFIX %}

{% block css %}

<style>

#last_status { 
	margin-bottom: 20px;
}

.status-entry-container {
	margin: 0 auto;
	padding: 0 20px 0 20px;
}

.status-text {
	border: 1px solid #aaa;
	display: block;
	padding: 3px;
	margin-left: 0; 
	margin-right: 0; 
	width: 100%;
}

fieldset.status-container {
	background-color: #600;
	border: 0 solid #333;
	color: #fff;
	margin: 0;
	padding: 3px;
}

fieldset.status-container legend {
	background-color: #b66;
	color: #fff;
	margin: 0;
	padding: 3px;
	width: 100%;
}

</style>

{% endblock %}

{% block js %}
<script src="{{ STATIC_PREFIX }}js/StringExtension.js"></script>
<script>
	/*
	function handleStatusText(event) {
		var txt = input.val();
 		var currentChar = txt[txt.length -1];
 		if (startWatching) {
 			if (event.keyCode == 32) {
				var hIx = txt.lastIndexOf('#');
				var sIx = txt.lastIndexOf(' ');
				hashTag = txt.substring(hIx + 1, sIx);
				startWatching = false;

				//TODO: We probably want to cache people's last status in each group
				//      in json so that showing them the status is instant.
				$.post('/status/latest/json/',{ hashTag: hashTag }, function(data) {
					var ls = $('#last_status');
					ls.append(data[0].fields.completed_status);
					ls.fadeIn('fast');
				});
			}
		} else {
			if (currentChar == '#') {
				startWatching = true; 
			}
		}
	}	
	*/

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	$(document).ready(function() {
		
		$('html').ajaxSend(function(event, xhr, settings) {
			if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}		
		});

		var input = $('.status-text');
		var startWatching = false;
		var hashTag = "";

		input.bind("keyup", function(event) {
			var txt = input.val();
			var currentChar = txt[txt.length -1];
			if (startWatching) {
				if (event.keyCode == 32) {
					var hIx = txt.lastIndexOf('#');
					var sIx = txt.lastIndexOf(' ');
					hashTag = txt.substring(hIx + 1, sIx);
					startWatching = false;
					
					//TODO: We probably want to cache people's last status in each group
					//	in json so that showing them the status is instant.
					$.post('/status/latest/json/',{ hashTag: hashTag }, function(data) {
						var li = "<fieldset class='status-container'><legend>{0} On {1} you reported:</legend>{2}</fieldset>";
						var ls = $('#last_status');
						ls.append(li.format(hashTag, data[0].fields.date,data[0].fields.completed_status));
						ls.fadeIn('slow');
					});
				}
			} else {
				if (currentChar == '#') {
					startWatching = true; 
				}
			}
		});	
	});
</script>
{% endblock %}

{% block content %}
<div class="page"
	{% csrf_token %}
	<div id="status-entry-container">
		<input type="textbox" class="status-text" placeholder="Enter your status">
	</div>
	<div id="last_status" style="display:none; margin-bottom: 20px; margin-top: 20px; width: 40%;">
	</div>
</div>
<div id="peer_status" style="display:none">
Start filling in status for the current group for other peers.
</div>
{% endblock %}
